#app {
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: #fdfdfd;
}

/* input {
    border: 1px solid silver;
    border-radius: 4px;
    background: white;
    padding: 5px 10px;
  } */
  .warning-text{
font-size: small;
font-style: italic;
margin-left: 15px;
margin-top: -6px;
  }


  .dirty {
    border-color: #5A5;
    background: #EFE;
  }
  
  .dirty:focus {
    outline-color: #8E8;
  }
  
  .error {
    border-color: red;
    background: #FDD;
  }
  
  .error:focus {
    outline-color: #F99;
  }

  .router-link-exact-active {
    font-weight: bolder;    
}

.note{
  background-color: #FFC107;
  padding: 15px;
  border-radius: 15px;
}

.addBtn{
  position:fixed;
	width:60px;
	height:60px;
	bottom:60px;
	right:70px;
	background-color:#FFC107;
	color:black;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px rgb(87, 87, 87)
}